<section class="calendar widget">
    <div class="calendar__display">
        <div class="calendar__days">
            {{#days}}
                <div class="day" data-index="{{dataIndex}}">
                    {{#type}}
                        <span class="type {{type}}">{{type}}</span>
                    {{/type}} 
                    <span class="numeric">{{number}}</span>
                    <div class="meta">
                        <span class="meta-day">{{day}}</span>
                        <span class="meta-time">{{time}}</span>
                    </div>

                    <div class="badge-footer">
                        {{#lineup}}
                            <span class="lineup">{{lineup}}</span>
                        {{/lineup}}
                        {{#location}}
                            <span class="location">{{location}}</span>
                        {{/location}} 
                        {{#available}}
                            <span class="fa fa-check available"
                                  title="You are marked Available For this Match"></span>
                        {{/available}} 
                    </div>
                </div>
            {{/days}}
        </div>
    </div>
    <div class="calendar__event">
        <span class="current-day">
            {{todaysDate}}
        </span>

        <div class="current-events">
            {{#todaysEvent}}
                {{> event}}
            {{/todaysEvent}}
        </div>

        <div class="google-map"></div>
    </div>
</section>
